@import "vars";

.container {
  max-width: $max-width-container;
  //padding: 0 $site-padding;
}

body {
  background: white;
}

// expanded row class
.row {

  &_carousel {
    flex-flow: row;
    overflow-x: scroll;
  }
}