@import "../../scss/mixins";
.product-slider {

  &-list {

  }

  &-item {
    @include hoverLink;

    width: 100%;
    margin-bottom: 2rem;
    position: relative;
    cursor: pointer;

    &__wrap-image {
      border-radius: 8px;
      overflow: hidden;
    }

    &__image {
      width: 100%;
      white-space: nowrap;
      position: relative;

      // for square image width = height
      &:after {
        content: '';
        position: relative;
        padding-bottom: 100%;
        width: 100%;
        display: block;
      }

      img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        overflow: hidden;
      }
    }

    &__slider {
      @include pos_absolute;

      width: 100%;
      height: 100%;

      .slick-slider, .slick-list, .slick-track {
        height: 100%;
      }

      // this hack for safari
      .slick-track .slick-slide {
        border-radius: 8px;
        overflow: hidden;

        & > div {
          height: 100%;

          img {
            border-radius: 0;
          }
        }
      }
    }

    &__info {
      margin-top: 1rem;
    }

    &__name {
      display: block;
    }

    &__brand {
      margin-top: .5rem;
      display: block;
      opacity: .3;
      color: $c_black;
    }

    &_black {

      @include hoverLinkGray;
    }
  }
}